/* You can add global styles to this file, and also import other style files */
.content {
  padding: 16px;
}

input.ng-touched.ng-valid{
    border-color: #28a745;
}
.table-hover tbody tr:hover {
    background-color: #D2D2D2;
  }

  .navbar-nav a.active {
      color: red;
  }

  .navbar-nav li {
    border: 0px;
    }

.container{max-width:90%;}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
