<div>
    <div>
        <h3>Корм в кормежке</h3>
    </div>

    <div [ngStyle.gt-md]="{'margin': '15px'}">
        <div *ngFor="let userReceipt of userReceipts">
            <div class="row font-weight-bold bg-light text-dark">{{userReceipt.name}}</div>
            <div class="row">
                <table class="table mb-0">
                    <tbody>
                        <tr (mouseover)="toggleHover(foodOrder.foodOrderId)" (mouseleave)="removeHover()"
                            *ngFor="let foodOrder of userReceipt.foodOrders">
                            <td>
                                <div>{{foodOrder.title}}</div>
                                <div class="font-weight-lighter">{{foodOrder.comment}}</div>
                            </td>
                            <td class="eight text-center">{{foodOrder.count}}</td>
                            <td class="fifteen text-center">{{foodOrder.cost}}₽</td>
                            <td class="eight text-center">
                                <i *ngIf="hoveredElement === foodOrder.foodOrderId" class="fas fa-edit fa-lg"
                                    (click)="onEditFoodOrder(foodOrder);$event.stopPropagation()"
                                    style="cursor: pointer;"></i>
                            </td>
                            <td class="eight text-center">
                                <i *ngIf="hoveredElement === foodOrder.foodOrderId" class="fas fa-trash-alt fa-lg"
                                    (click)="onDeleteFoodOrder(foodOrder);$event.stopPropagation()"
                                    style="cursor: pointer;"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>