<h3>Список корма в кормежке</h3>
<div>
    <label>Кормежка</label>
    <div>
        <select [(ngModel)]="selectedOrder" (change)="orderChanged($event)">
            <option *ngFor="let order of orders" [ngValue]="order">{{order.id}} {{order.restaurantTitle}}</option>
        </select>
    </div>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Корм</th>
                <th scope="col">Комментарий</th>
                <th scope="col">Количество</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let foodReceipt of foodGroupedReceipts">
                <td>{{foodReceipt.title}}</td>
                <td>{{foodReceipt.comment}}</td>
                <td>{{foodReceipt.count}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Тело</th>
                <th scope="col">Корм</th>
                <th scope="col">Комментарий</th>
                <th scope="col">Количество</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let foodOrder of foodOrders">
                <td>{{foodOrder.userName}}</td>
                <td>{{foodOrder.title}}</td>
                <td>{{foodOrder.comment}}</td>
                <td>{{foodOrder.count}}</td>
                <td>
                    <i class="fas fa-edit fa-lg" (click)="onEditFoodOrder(foodOrder);$event.stopPropagation()" style="cursor: pointer;"></i>
                </td>
                <td>
                    <i class="fas fa-trash-alt fa-lg" (click)="onDeleteFoodOrder(foodOrder);$event.stopPropagation()" style="cursor: pointer;"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
