<h3>Заказ корма в кафехе</h3>
<div>
    <label>Заказ</label>
    <div>
        <select [(ngModel)]="selectedOrder" (change)="orderChanged($event)">
            <option *ngFor="let order of orders" [ngValue]="order">{{order.id}} {{order.restaurantTitle}}</option>
        </select>
    </div>
</div>
<div>
    <label>Тело</label>
    <div>
        <select [(ngModel)]="selectedUser">
            <option *ngFor="let user of users" [ngValue]="user">{{user.name}}</option>
        </select>
    </div>
</div>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Корм</th>
                <th scope="col">Цена</th>
                <th scope="col">Описание</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let food of foods">
                <td>{{food.title}}</td>
                <td>{{food.cost}}</td>
                <td>{{food.description}}</td>
                <td>
                    <i class="fas fa-cart-plus fa-lg" (click)="onAddFoodToOrder(food.id, food.title);$event.stopPropagation()"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
