<h3>Заказать корм</h3>
<div class="d-flex align-items-end flex-column">
    <div><button class="btn btn-link" (click)="onCreateFood()">Новый корм</button></div>
</div>
<div>
    <label>Кормежка</label>
    <div>
        <select [(ngModel)]="selectedOrder" (change)="orderChanged($event)">
            <option *ngFor="let order of orders" [ngValue]="order">{{order.id}} {{order.restaurantTitle}}</option>
        </select>
    </div>
</div>
<div>
    <label>Кому заказываем</label>
    <div>
        <select [(ngModel)]="selectedUser">
            <option *ngFor="let user of users" [ngValue]="user">{{user.name}}</option>
        </select>
    </div>
</div>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Корм</th>
                <th scope="col">Цена</th>
                <th scope="col">Описание</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let food of foods" (click)="onAddFoodToOrder(food)" style="cursor: pointer;">
                <td>{{food.title}}</td>
                <td>{{food.cost}}</td>
                <td>{{food.description}}</td>
                <td>
                    <i class="fas fa-edit fa-lg" (click)="onEditFood(food);$event.stopPropagation()"></i>
                </td>
                <td>
                    <i class="fas fa-trash-alt fa-lg" (click)="onDeleteFood(food);$event.stopPropagation()" style="cursor: pointer;"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
