<h3>Активные кормежки</h3>
<div>
    <table class="table">
        <thead>
            <tr>
                <th fxHide.lt-sm="true" scope="col">Номер</th>
                <th fxHide.lt-sm="true" scope="col">Кому бабло?</th>
                <th scope="col">Когда заказывали?</th>
                <th scope="col">Кафеха</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders" [routerLink]="['/order', order.id]" style="cursor: pointer;">
                <td fxHide.lt-sm="true">{{order.id}}</td>
                <td fxHide.lt-sm="true">{{order.ownerName}}</td>
                <td title="{{order.created | date:'dd.MM.yyyy HH:mm'}}">{{order.created | date:'dd.MM.yyyy'}}</td>
                <td>{{order.restaurantTitle}}</td>
            </tr>
        </tbody>
    </table>
</div>
