<div class="container">
    <!-- <app-restaurants-list></app-restaurants-list>
    <app-users-list></app-users-list>
    <app-orders-list></app-orders-list>
    <app-restaurant-foods></app-restaurant-foods>
    <app-order-foods-receipt></app-order-foods-receipt>
    <app-order-users-receipt></app-order-users-receipt> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Че по корму?</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" href="/users" routerLinkActive="active">Тела</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders" routerLinkActive="active">Кормежки</a>
          </li>
        </ul>

      </div>
    </nav>

    <router-outlet></router-outlet>
</div>
