<div class="modal-header">
    <h4>Создать заказ</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div>
            <label>Кому сдавать бабло</label>
            <div>
                <select (change)="chageOwner($event)" formControlName="ownerId">
                    <option *ngFor="let user of users" [ngValue]="user.id">{{user.name}}</option>
                </select>
            </div>
        </div>
        <div>
            <label>Кафеха</label>
            <div>
                <select (change)="chageRestaurant($event)" formControlName="restaurantId">
                    <option *ngFor="let restaurant of restaurants" [ngValue]="restaurant.id">{{restaurant.title}}</option>
                </select>
            </div>
        </div>
        
        <div>
            <button class="btn btn-primary">Сохранить</button>
            <button type="button" class="btn btn-default" (click)="closeModal()">Закрыть</button>
        </div>
    </form>
</div>