<div class="content" *ngIf="order != undefined">
    <h3>
        {{order.restaurantTitle}} [{{statusConverter.convert(order.orderStatus)}}]
        <button type="button" *ngIf="order.orderStatus == 0" class="btn btn-success ml-3"
            (click)="closeOrder()">Закрыть прием</button>
        <button type="button" *ngIf="order.orderStatus == 1" class="btn btn-success ml-3"
            (click)="openOrder()">Открыть прием</button>
    </h3>

    <div fxLayout="row" fxLayout.xs="column">
        <app-restaurant-foods [hidden]="order.orderStatus != 0" [orderLoadedEvent]="orderLoadedEvent" [orderChangedEvent]="orderChangedEvent">
        </app-restaurant-foods>
        <app-order-foods-receipt [hidden]="order.orderStatus != 0" [orderLoadedEvent]="orderLoadedEvent" [orderChangedEvent]="orderChangedEvent">
        </app-order-foods-receipt>
    </div>

    <app-order-foods-grouped-receipt [hidden]="order.orderStatus == 0" [orderLoadedEvent]="orderLoadedEvent">
    </app-order-foods-grouped-receipt>
    <app-order-users-receipt [hidden]="order.orderStatus == 0" [orderLoadedEvent]="orderLoadedEvent">
    </app-order-users-receipt>
</div>